@model LibrarySystem.Web.Models.BookModels.BookCreateViewModel
@{
    ViewBag.Title = "Create";
}
<div class="well well-sm">
    <h3 class="text-center text-info">@ViewBag.Title</h3>
</div>

@using (Html.BeginForm("Create", "Book", null, FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="jumbotron">
        <div class="form-group">
            @Html.LabelForModel("Title", new { @class = "col-lg-3 control-label" })
            <div class="col-md-4">
                @Html.EditorFor(b => b.Title, new
           {
               htmlattributes = new
               {
                   @class = "container",
                   @placeholder = "Enter book's title"
               }
           })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelForModel("Author first name", new { @class = "col-lg-3 control-label" })
            <div class="col-md-5">
                @Html.EditorFor(b => b.Author.FirstName, new
           {
               htmlattributes = new
               {
                   @class = "container",
                   @placeholder = "Enter author's first name"
               }
           })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelForModel("Author last name", new { @class = "col-lg-3 control-label" })
            <div class="col-md-5">
                @Html.EditorFor(b => b.Author.LastName, new
           {
               htmlattributes = new
               {
                   @class = "container",
                   @placeholder = "Enter author's last name"
               }
           })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelForModel("Description", new { @class = "col-lg-3 control-label" })
            <div class="col-md-5">
                @Html.EditorFor(b => b.Description, new
           {
               htmlattributes = new
               {
                   @class = "container",
                   @placeholder = "Enter book's description"
               }
           })
            </div>
        </div>

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Create a Book" />
            <input type="reset" class="btn btn-default" value="Cancel" />
        </div>
    </div>
}


